# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/
*.log

# Virtualenv
.venv/
venv/
ENV/
env/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build / dist
build/
dist/
*.egg-info/
